/* reset */
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

/* effetti */

.lista-header li:hover {
    border-bottom: 1px solid black;
}

button:hover{
    background-color: #0093ce;
    cursor: pointer;
}



/* liste */
ul{
    list-style: none;

}
ul>li{
    font-size: 0.7rem;
    
}

/* liste header */
.lista-header{
    padding-top: 5px;
}

.lista-header>li{
    padding: 5px 7px;
}


.list-sx, .list-dx{
    
    padding: 20px 5px;
    align-content: center;
    flex-wrap: wrap;
}


.list-dx>button{
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 15px;

}

/* liste main colonne lunghe */

.list-1{
    margin-bottom: 10px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
    
}

.list-1>li{
    margin: 10px 0;
    padding: 0 10px 20px 12px ;
    font-size: 0.75rem;
    
}
.list-2>li{
    margin: 10px 0;
    padding: 0 10px 20px 12px ;
    font-size: 0.7rem;
}

.list-2{
    padding-top: 20px;
    justify-content: center;
    flex-direction: column;
    /* padding-left: 5px;
    padding-right: 5px; */
    
}


/* contenitore */
.contenitore{
    width: 50%;
    /* font-size: 0.6rem; */
}

.contenitore-h-f{
    width: 60%;
    /* font-size: 0.6rem; */
}



/* flex */
.flex{
    display: flex;
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

/* bottoni */

button{
    
    background-color: rgb(64, 64, 244);
    color: white;
    border: none;
    padding: 5px 7px;
    font-size: 0.7rem;
}

.b-pg{
    /* width: 65%; */
    margin: 30px 0;
    padding: 10px;
    width: fit-content;
}

.b-col{
    width: 80%;
    margin: 20px 0;
    margin-left: 20px;
    padding: 10px;
}

.but-partner{
    background-color:white;
    color: rgb(107, 101, 101);
    border: 1px solid rgb(107, 101, 101);
    padding: 7px 10px;
}

/* proprieta tag h */
h1{
    font-size: 2.7rem;
    text-align: left;
    font-weight: 900;
    padding-left: 50px;
}

h2{
    font-size: 1.7rem;
}


h3{
    font-size: 1.5rem;
   
}

h4{
    margin-bottom: 7px;
    padding-top: 10px;
    font-size: 1.2rem;
}

hr{
    width: 30%;
    margin-left: 25px;
    margin-top: 20px;
}



/* header */
.header{
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    background-color: white;
    /* debug */
    /* background-color: brown; */
    /* height: 50px; */

}

.logo{
  width: 25%;
  padding-right: 10px;
  object-fit: contain;
  padding-top: 5px;
}


/* main */
.main{
    padding-top: 50px;
}

/* hero */
.padding{
    padding-top: 50px;
}

.hero{
    width: 100%;
    background-color: #b4d0e7;

}

.cont-small-h{
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 50px;
    
}


.cont-big-h{
    width: 60%;
    
}


.fa-arrow-down{
    font-size: 50px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.position{
    
    position: relative;
    top: 50px;
    left: 50px;
}

/* piano di business */
#opzione-2{
    margin-left: 30px;
}

.font-size-piano-business{
    font-size: 0.6rem;
    margin-top: 15px;
    padding-right: 20px;
}

.trova-piano-business{
    margin-top: 100px;
    line-height: 30px;
    /* debug */
    /* background-color: lightslategrey;
    height: 100px; */

}

/* section colonne  lunghe */

.f-s{
    font-size: 0.8rem;
}


.col-lunghe{
    justify-content: space-between;
}

.col{
    width: calc(90% / 3 );
    margin-top: 20px;
    padding-bottom: 20px;
    border:1px solid rgb(180, 175, 175);
    
}


.list-2 > li:first-child{
    padding-left: 25px
}


.intestazione{
    border: 1px solid rgb(180, 175, 175);;
    text-align: center;
    padding: 5px 0;
    
}


.parte-sup{
    padding-left: 20px;
}



.acquista-ora{
    font-size: 0.7rem;
    margin-left: 20px;
}

.acquista-ora>a{
    text-decoration-line: revert-layer;
    color: revert-layer;
}

.mese{
    margin-bottom: 20px;
}



.fa-check{
    color: rgb(64, 64, 244);
    margin-right: 5px;

}

.margin{
    margin-left: 4px;
}

/* section enterprice */

.padding-cont-enterprice div{
   padding-top: 50px;
   padding-bottom: 20px;
}


.enterprice{
    border: 1px solid gray;
}

/* section partner */
#cont-section-partner{
    margin-top: 50px;
} 

#cont-section-partner .cont-big{
    padding-left: 0;
}

.cont-big{
    width: 70%;
    padding-left: 20px;
    padding-top: 10px;
    
}

.cont-small{
    width: 30%;

}

.padding-partner {
    padding-top: 20px;
    padding-left: 30px;
}

.padding-partner>button{
    margin-top: 20px;

}

.padding-partner>p{
    margin-top: 20px;
}


.cont-small>h4{
    padding-top: 20px;
    font-size: 1rem;
}

/* section colonne corte */

#colonne-corte .col{
    border: none;
    padding: 10px;
}


#colonne-corte h4{
   
    padding-bottom: 10px;
}

#colonne-corte h2{
    padding-bottom: 40px;
}

#colonne-corte{
    padding-top: 100px;
}

/* section scritta business */
.cont-business{
    justify-content: start;
    margin-top: 20px;
    padding: 50px 0;
}

.cont-solo{
    width: 70%;
    padding: 70px 0;

}

.cont-solo>a{
    text-decoration-line: revert-layer;
    color: revert-layer;
}

.cont-solo>h2{
    padding-bottom: 30px;
    padding-right: 50px;
    line-height: 1.3;
    font-weight: 790;
}


/* section pubblicita */

.pubblicita{
    width: 100%;
    background-color: #b4d0e7;
    padding-bottom: 30px;
}
.col-p{
    width: calc(100% / 3);

}

.col-p-sx-dx{
    width: calc(100% /2);
    height: calc(100%/2);
    aspect-ratio: 1;

}



.designit{
    background-color: #a2d39b;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
}


.arizona-state{
    align-content: center;
    flex-wrap: wrap;
    background-color: #61082b;
}

.florida{
    align-content: center;
    flex-wrap: wrap;
    background-color:#0093ce;
}

.florida>img{
    padding-left: 50px;
    padding-top: 60px;
}

.topps{
    align-content: center;
    flex-wrap: wrap;
   background-color: #ff1c1c;

}

.topps>img{
    padding-left: 80px;
    padding-top: 30px;
}

.world{
    background-color: #d5001f;

}

.world>img{
    filter: invert(1);
}

.hearst-corp{
    background-color: #b4d0e7;
}

.lonely-planet{
    background-color: #0d2481;

}

.clear-channel{
    background-color: #ffd830;

}

.colonna-centrale{
    overflow: auto;
    padding: 10px 30px;
    font-size: 0.9rem;
}

.img-colonna-centrale{
 width: 50%;
 padding: 20px;
}

.colonna-centrale> p{
    padding-top: 20px;
    padding-left: 10px;
}

.colonna-centrale>span{
    display: inline-block;
    padding-top: 50px;
    padding-left: 10px;
}

/* section sotto pubblicita */

.cont-d-p{
    background-color:#b4d0e7; ;
    padding: 100px 0;
}

.bottone-prova-gratuita{
    background-color: white;
    color: black;
    width: -webkit-fill-available;
}


.cont-prova-gratuita{
    padding-left: 0;
}

.cont-prova-gratuita>h2{
    font-size: 2rem;
    color: #61082b;
    padding-right: 100px;
}


/* section faq */

.enterprice{
    margin-top: 20px;
    
}


.enterprice>ul{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 30px 0;
}

.faq>h2{
    padding: 50px 0
}

.faq{
    padding-bottom: 70px;
    border: none;
}


/* .fa-chevron-down{
    padding-left: 160px;
} */

.lista-scomparsa>li{
    justify-content: space-between;
    cursor: pointer;
}


.lista-scomparsa li>h5{
    font-size: 0.7rem;
}


.scomparso{
    display: none;
    padding-top: 10px;
}

ul:hover .scomparso{
    display: block;
    
}

/* footer */


footer{
    background-color: black;

    /* debug */
    margin-top: 10px;
}
.col-f{
    width: calc(100%/5);
    color: white;
    padding: 50px 0;
    /* debug */
    /* background-color: tomato; */
    /* height: 200px; */
    border: 1px solid black;
}

.col-f ul li> a{
    color: white;
    
}

.col-f ul li>h4{
    font-size: 1.5rem;
}

.col-f>ul{
    padding-bottom: 50px;
}

.hr-footer{
    margin: 20px 5px;
    border: 1px solid gray;
}

.lista-foter>li {
    padding: 5px 7px;
}